[submodule "contrib/satellite"]
	path = contrib/satellite
	url = https://ssethj@github.com/ssethj/sns3-satellite
[submodule "contrib/traffic"]
	path = contrib/traffic
	url = https://github.com/sns3/traffic.git
[submodule "contrib/magister-stats"]
	path = contrib/magister-stats
	url = https://github.com/sns3/stats.git
